.woocommerce div.product form.cart .fire-pit-quantity div.quantity {
  float: none;
}

.product_sku {
  color: #C40909;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 12px;
}

.woocommerce .price {
  color: #020202;
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 50px;
  letter-spacing: 0;
}

.quantity-label {
  color: #C40909;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 12px;
}

.fire-pit-quantity {
  margin-bottom: 32px;
}

.fire-pit_add_to_cart_button {
  background: #C40909;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  color: #fff;
  display: block;
  width: 100%;
  border: 1px solid #C40909;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.fire-pit-build-price_button {
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  color: #020202;
  display: block;
  width: 100%;
  border: 1px solid #818385;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 12px;
}